.cap-fluid
	.cap 
		.cap_left 
			.cap_top 
				.cap_title Электротовары
				.cap_status В работе
			ul.cap_menu
				li.cap_li Описание
					a(href="#") 
				li.cap_li Список
					a(href="#") 
				li.cap_li.active Канбан
					a(href="#") 
				li.cap_li Планирование
					a(href="#") 
				li.cap_li Дашборд
					a(href="#") 
				li.cap_li Команда
					a(href="#") 

		.cap_right 
			a.cap_ico(href="#")
				img(src="img/cap-1.png", alt="#")
			a.cap_ico(href="#")
				img(src="img/cap-2.png", alt="#")
			a.cap_ico.cap_uv(href="#")
				img(src="img/cap-3.png", alt="#")
			a.cap_ico(href="#")
				img(src="img/cap-4.png", alt="#")
