
.item-dr.item-dr-4.dragableItem.dragableItem_1(draggable="true")
	.item-dr_top 
		span.item-dr_ico-title.item-dr_ico-end
		span.item-dr_title Исправить ошибку
	.item-dr_foto
		img.item-dr_img(src="img/foto.png", alt="")
		.item-dr_time-data
			span.item-dr_time 10 ч
		.item-dr_vetki-timer 
		span.item-dr_ss.item-dr_stop