.item-dr.item-dr-3.dragableItem.dragableItem_1(draggable="true")
	.hdr-2
		.nav2-icon
			.nav2-icon__middle
	.item-dr_top 
		span.item-dr_ico-title.item-dr_ico-start
		span.item-dr_title Разработать новый чекаут для Юр. Лиц.
	.item-dr_foto
		img.item-dr_img(src="img/foto.png", alt="")
		.item-dr_time-data
			span.item-dr_time 0 ч / 34 ч
			span.item-dr_time до 27 марта
		.item-dr_vetki-timer 
			.item-dr_number-vetki
				span.item-dr_number 2
				img.item-dr_vetki(src="img/vetki.svg", alt="#")
	hr.item-dr_hr

	.item-dr_top
		span.item-dr_ico-title.item-dr_ico-start
		span.item-dr_title Разработать прототип
		img.item-dr_img-top(src="img/foto.png", alt="")

	.item-dr_top
		span.item-dr_ico-title.item-dr_ico-end
		span.item-dr_title Разработать бекенд
		img.item-dr_img-top(src="img/foto.png", alt="")

	.item-dr_plus + Добавить подзадачу