.item-dr.item-dr-2.dragableItem.dragableItem_1(draggable="true")
	.item-dr_top 
		span.item-dr_ico-title.item-dr_ico-start
		span.item-dr_title Проверить корзину
	.item-dr_foto
		img.item-dr_img(src="img/foto.png", alt="")
		.item-dr_time-data
			span.item-dr_time 15 ч / 10 ч
			span.item-dr_time до 20 апреля
		.item-dr_vetki-timer 
		span.item-dr_ss.item-dr_start
