
.item-dr.item-dr-5.dragableItem.dragableItem_1(draggable="true")
	.item-dr_top 
		span.item-dr_ico-title.item-dr_ico-start
		span.item-dr_title Правка
	.item-dr_foto
		img.item-dr_img(src="img/foto.png", alt="")
