
.item-dr.item-dr-9.dragableItem.dragableItem_1(draggable="true")
	.item-dr_top 
		span.item-dr_ico-title.item-dr_ico-start
		span.item-dr_title Разработать новый чекаут для Юр. Лиц.
	.item-dr_foto
		img.item-dr_img(src="img/foto.png", alt="")
		.item-dr_time-data
			span.item-dr_time 0 ч / 34 ч
			span.item-dr_time.color_red до 10 февраля
		.item-dr_vetki-timer 
			.item-dr_number-vetki
				span.item-dr_number 2
				img.item-dr_vetki(src="img/vetki.svg", alt="#")

