
.item-dr.item-dr-7.dragableItem.dragableItem_1(draggable="true")
	.item-dr_top 
		span.item-dr_ico-title.item-dr_ico-start
		span.item-dr_title Разработать личный кабинет для Юр. Лиц
	.item-dr_foto
		img.item-dr_img(src="img/foto.png", alt="")
		.item-dr_time-data
			span.item-dr_time 20 ч / 54 ч
			span.item-dr_time до 15 марта
		.item-dr_vetki-timer 
			.item-dr_number-vetki
				span.item-dr_number 2
				img.item-dr_vetki(src="img/vetki.svg", alt="#")
	
	hr.item-dr_hr
 
	.item-dr_top
		span.item-dr_ico-title.item-dr_ico-start
		span.item-dr_title Разработать прототип
		img.item-dr_img-top(src="img/foto.png", alt="")

	hr.item-dr_hr2
	
	.item-dr_inp-f-f
		input.item-dr_input(type="text" name="itim-dr-12" placeholder="Введите название")
		img.itim-dr
		img.item-dr_img.item-dr_img2(src="img/foto-nul2.svg", alt="#")
		img.item-dr_img(src="img/foto-nul.svg", alt="#")

	.item-dr_plus + Добавить подзадачу