
.item-dr.item-dr-6.dragableItem.dragableItem_1(draggable="true")
	.item-dr_top2 
		input.item-dr_input(type="text" name="itim-dr-6" placeholder="Напишите название задачи")
	.item-dr_foto
		img.item-dr_img(src="img/foto-nul.svg", alt="#")