head
    //-кодировка
    meta(charset="UTF-8")
    //-масштаб
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //-шрифты
    link(href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
    //-подключение css стилей
    link(href="css/style.css" rel="stylesheet")