section.left 
	img.left_burger(src="img/burger.svg", alt="#")
	span.left_logo Captain
	ul.left_bl-1 
		li.left_bl-line 
			img.left_ico(src="img/left-ico-1.svg", alt="#")
			a(href="#").left_title Дашборд
		li.left_bl-line 
			img.left_ico(src="img/left-ico-2.svg", alt="#")
			a(href="#").left_title Мои задачи
		li.left_bl-line 
			img.left_ico(src="img/left-ico-3.svg", alt="#")
			a(href="#").left_title Проекты
	
	.left_title-2 Избранное

	ul.left_bl-2
		li.left_bl-line.left_bl-line-2 
			a(href="#").left_title Электротовары
		li.left_bl-line.left_bl-line-2 
			a(href="#").left_title Лесхозснаб
		li.left_bl-line.left_bl-line-2 
			a(href="#").left_title Посуда-Сити
		li.left_bl-line.left_bl-line-2 
			a(href="#").left_title.left_title-blue Автошкола "Автолицей"
		li.left_bl-line.left_bl-line-2 
			a(href="#").left_title Клиент 1
		li.left_bl-line.left_bl-line-2 
			a(href="#").left_title Клиент 2
		li.left_bl-line.left_bl-line-2 
			a(href="#").left_title Клиент 3

	.left_open-bl-2 
		span раскрыть весь список
		img(src="img/arrow-open-bl2.svg", alt="#")
	.left_clouse-bl-2
		span скрыть список
		img(src="img/arrow-open-bl2.svg", alt="#")

	.left_title-2 Команды
	
	ul.left_bl-3 
		.left_team
			li.left_bl-line.left_bl-line-3 
				img.left_ico(src="img/left-ico-4.svg", alt="#")
				a(href="#").left_title Программисты
			ul.left_naims 
				li Светлана Коркина
				li Юрий Дубров
				li Катерина Бут
				li Евгений Ашин
		.left_team
			li.left_bl-line.left_bl-line-3 
				img.left_ico(src="img/left-ico-4.svg", alt="#")
				a(href="#").left_title Маркетологи
			ul.left_naims 
				li Светлана Коркина
				li Юрий Дубров
		.left_team
			li.left_bl-line.left_bl-line-3 
				img.left_ico(src="img/left-ico-4.svg", alt="#")
				a(href="#").left_title Дизайнеры 
			ul.left_naims 
				li Светлана Коркина
				li Юрий Дубров
				li Катерина Бут

