.nav_task
	span.nav_podtask Подзадачи
	.item-dr_top
		span.item-dr_ico-title.item-dr_ico-start
		span.nav_text-task Перенести пользователей в новую БД
		img.item-dr_img(src="img/foto-nul2.svg" alt="#")
		img.item-dr_img(src="img/foto-nul.svg" alt="#")
	.item-dr_top
		span.item-dr_ico-title.item-dr_ico-start
		span.nav_text-task Сверстать новый интерфейс чекаута
		img.item-dr_img(src="img/foto-nul2.svg" alt="#")
		img.item-dr_img(src="img/foto-nul.svg" alt="#")
	.item-dr_top
		span.item-dr_ico-title.item-dr_ico-start
		span.nav_text-task Спроектировать новый чекаут
		img.item-dr_img(src="img/foto-nul2.svg" alt="#")
		img.item-dr_img(src="img/foto-nul.svg" alt="#")
	.nav_dobtask 
		span +
		span Добавить подзадачу

	

