.nav-comment
	hr.nav_hr
	.nav_combl 
		.nav_blfoto 
			img.item-dr_img(src="img/foto.png", alt="")
		.nav_bltext
			.nav_namedata 
				span.nav_name Nick Khaetsky 
				span.nav_data 25 минут назад 
			p.nav_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet hendrerit ipsum vel gravida. Nullam auctor nisl leo, eu luctus ex eleifend nec. Praesent mauris odio, dapibus sit amet ipsum eget, venenatis tempus nisl.
	hr.nav_hr
	.nav_combl 
		.nav_blfoto 
			img.item-dr_img(src="img/foto.png", alt="")
		.nav_bltext
			.nav_namedata 
				span.nav_name Nick Khaetsky 
				span.nav_data 25 минут назад 
			p.nav_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet hendrerit ipsum vel gravida. Nullam auctor nisl leo, eu luctus ex eleifend nec. Praesent mauris odio, dapibus sit amet ipsum eget, venenatis tempus nisl.
	hr.nav_hr
	.nav_combl-input 
		.nav_blfoto 
			img.item-dr_img(src="img/foto.png", alt="")
		.nav_blinput
			input.item-dr_input(type="text" name="comment1" placeholder="Задайте вопрос или напишите комментарий...")

			
		


