.nav_fio
	.nav_executor
		span.nav_parameter Исполнитель
		img.item-dr_img(src="img/foto.png" alt="#")
		span.nav_name Никита Хакцкий
	.nav_data 
		span.nav_parameter Дата
		img.item-dr_img(src="img/foto-nul2.svg" alt="#")
		span.nav_description Нет даты
	.nav_proekt 
		span.nav_parameter Проект
		span.nav_description2  Добавить проект
	.nav_proekt 
		span.nav_parameter Описание
		span.nav_description2  Добавьте описание к этой задаче...