nav.nav2
	.nav_top
		.nav_1 
			img.nav_ico(src="img/nav-ico.svg", alt="#")
			.nav_work Работать над задачей
		span.nav_2 0ч / 34ч
		.nav_3 	
			img.nav_ico2(src="img/nav-ico2.svg", alt="#")
			span.nav_end Завершить задачу
		.nav_4.nav_none
			img.nav_ico2(src="img/nav-ico2.svg", alt="#")
			span.nav_end Задача завершена
		img.nav_ico3(src="img/nav-ico3.svg", alt="#")
		img.nav_ico4(src="img/nav-ico4.svg", alt="#")
	hr.nav_hr
	span.nav_title2 Разработать новый чекаут для Юр. Лиц.

	include nav-fio 
	include nav-task 
	include nav-comment2   
