section.right
	include cap 
	.whitebl
		.whitebl_top 
			span.whitebl_text Последняя задача выполнена 10 марта 
			.whitebl_fil-sort 
				span.whitebl_fil Фильтрация
				span.whitebl_sort Сортировка
		.whitebl_cols.pageWrapper
			.whitebl_col.whitebl_col-1.dragWrapper.dragWrapper_1
				.whitebl_header
					span.whitebl_title Нужно сделать
					span.whitebl_plus +
					span.whitebl_point ...
				include draggable-1 
				include draggable-2 
				include draggable-3  
				include draggable-4 
				include draggable-5
				include draggable-6
			.whitebl_col.whitebl_col-2.dragWrapper.dragWrapper_2
				.whitebl_header
					span.whitebl_title В работе 
					span.whitebl_plus +
					span.whitebl_point ...
				include draggable-7
				include draggable-8
			.whitebl_col.whitebl_col-3.dragWrapper.dragWrapper_3
				.whitebl_header
					span.whitebl_title Сделано
					span.whitebl_plus +
					span.whitebl_point ...
				include draggable-9
				include draggable-10
				include draggable-11
			.whitebl_col.whitebl_col-4.dragWrapper.dragWrapper_4
				.whitebl_header
					span.whitebl_title Завершено
					span.whitebl_plus +
					span.whitebl_point ...
				include draggable-12
				include draggable-13
			.whitebl_col.whitebl_col-5.dragWrapper.dragWrapper_4
				span.whitebl_title.whitebl_title-dobcol + Добавить столбец
			
			

			 
				
