doctype html
html(lang="ru-RU" dir="ltr")
  include ../modules/head
  //- include ../mixins/main
  body
    .body2
      include ../modules/left              
      include ../modules/right              
      include ../modules/task            
      include ../modules/script                